
p.scrolltext {
  text-align: justify;
  max-width: 100%;
  margin: 0px auto 10px;
}

div.scrollbar1 {
  margin: -20px;
}

.scrolltext{
  color: #fff;
}



a.rslides_nav{
  color: #fff;
  text-decoration: none;
  text-shadow: none;

}

ul.rslides{
  margin: auto;
  padding-top: 5em;
}



html {
  background-color:#fff;
}

.callbacks p.caption {
  font-size: 1em;
  color: #fff;
}

.subhead {
  font-size: 1.5em;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

li.rslides1_on.callbacks.callback_nav {
  width: 100%;
}

div.callbacks_container {
  width: 100%;
}

.quizlink {
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
}